__pycache__
image_classification/cifar10/data
ql_c10_res20/data
image_classification/cifar10/deployment
image_classification/cifar10/deployment_pow2
image_classification/tiny-imagenet/data
image_classification/tiny-imagenet/deployment
visual_wake_words/data
visual_wake_words/deployment
wandb/
log*
*.pth.tar
*egg-info
build
dist
*.png
*.pickle